<div class="container-home" id="inicio">
  <div class="d-flex flex-wrap justify-content-between" style="height: 75vh;">
    <img src="https://educ.rec.br/recifenomundo/assets/imagens/logo_recife_ao_mundo.png"
      class="img-fluid img-recife-no-mundo" [ngClass]="this.IsMobile() ? 'mb-0' : 'mb-5' "
      alt="Imagem recife no mundo">
    <div class="d-flex flex-column align-items-center align-self-end">
      <img src="https://educ.rec.br/recifenomundo/assets/imagens/logo-secretaria.png"
        class="img-fluid img-secretaria-educacao" [ngClass]="this.IsMobile() ? '' : 'me-5 pe-5'" alt="...">
      <img src="https://educ.rec.br/recifenomundo/assets/imagens/aviao.png" class="img-fluid img-aviao ps-4" alt="...">
    </div>
  </div>

  <!-- <div class="d-flex flex-wrap">
    <img src="../../../assets/imagens/logo_recife_ao_mundo.png" class="img-fluid" style="height: 35rem; width: 50rem;" alt="Imagem recife no mundo">
    <div class="d-flex flex-column align-items-stretch">
      <img src="../../../assets/imagens/logo-secretaria.png" style="width: 22rem;" class="img-fluid" alt="...">
      <img src="../../../assets/imagens/aviao.png" class="img-fluid" alt="...">
    </div>
  </div> -->

</div>
