<!-- Inicio-->
<app-landing-navbar></app-landing-navbar>
<app-inicio></app-inicio>
<!-- Fase-->
<app-fase></app-fase>
<!-- Edital
<app-edital></app-edital> -->
<!-- Entenda mais-->
<app-entenda-mais></app-entenda-mais>
<!-- F.A.Q-->
<div class="bg-white">
  <div class="d-flex flex-column align-items-center p-3">
    <div [ngClass]="this.IsMobile() ? 'w-100' : 'w-50'">

      <div class="d-flex flex-wrap justify-content-center gap-5"
        [ngClass]="this.IsMobile() ? 'justify-content-center' : '' "
        id="edital">

        <!-- <div class="fs-4 fw-semibold" style="width: 10rem;">O nosso programa em números</div> -->
        <!-- <a (click)="this.BaixarResultado()" target="_blank" style="cursor: pointer;"><img src="https://educ.rec.br/recifenomundo/assets/imagens/veja-os-resultados.png" class="img-fluid HoverDiv" [ngStyle]="this.IsMobile() ? {} : {'width': '20vw'} " alt="..."></a>
        <div class="ms-2 me-2"></div>
        <a (click)="this.BaixarEditais()" target="_blank" style="cursor: pointer;"><img src="https://educ.rec.br/recifenomundo/assets/imagens/detalhes-do-edital.png" class="img-fluid" [ngStyle]="this.IsMobile() ? {} : {'width': '20vw'} " alt="..."></a> -->

        <div class="d-flex flex-column">
          <div class="fw-bold fs-3">Estudante</div>
          <div class="d-flex flex-wrap gap-5">
            <div class="d-flex flex-column">
              <div class="fw-bold fs-4 mb-2">Editais</div>
              <div *ngFor="let edital of editaisEstudante">
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="btn btn-outline-student mt-2"
                    id="dropdownBasic1" ngbDropdownToggle>
                    {{ edital.ano }}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="BaixarPDF(edital.ingles)"
                      ngbDropdownItem>Curso</button>
                    <button (click)="BaixarPDF(edital.intercambio)"
                      ngbDropdownItem>Intercâmbio</button>
                    <button (click)="BaixarPDF(edital.anexos)"
                      ngbDropdownItem>Anexos - Intercâmbio</button>
                      <button (click)="BaixarPDF(edital.erratas)"
                      ngbDropdownItem>Errata</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex flex-column">
              <div class="fw-bold fs-4 mb-2">Resultados</div>

              <div *ngFor="let resultado of resultadosEstudante">
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="btn btn-outline-student mt-2"
                    id="dropdownBasic1" ngbDropdownToggle>
                    {{ resultado.ano }}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="BaixarPDF(resultado.ingles)"
                      ngbDropdownItem>Curso</button>
                    <button (click)="BaixarPDF(resultado.intercambio)"
                      ngbDropdownItem>Intercâmbio</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="d-flex flex-column">
          <div class="fw-bold fs-3">Professores</div>
          <div class="d-flex flex-wrap gap-5">
            <div class="d-flex flex-column">
              <div class="fw-bold fs-4 mb-2">Editais</div>
              <div *ngFor="let edital of editaisProfessor">
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="btn btn-outline-primary mt-2"
                    id="dropdownBasic1" ngbDropdownToggle>
                    {{ edital.ano }}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="BaixarPDF(edital.ingles)"
                      ngbDropdownItem>Curso</button>
                    <button (click)="BaixarPDF(edital.intercambio)"
                      ngbDropdownItem>Intercâmbio</button>
                    <button (click)="BaixarPDF(edital.anexos)"
                      ngbDropdownItem>Anexos - Intercâmbio</button>
                    <button (click)="BaixarPDF(edital.erratas)"
                      ngbDropdownItem>Errata</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex flex-column">
              <div class="fw-bold fs-4 mb-2">Resultados</div>

              <div *ngFor="let resultado of resultadosProfessor">
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="btn btn-outline-primary mt-2"
                    id="dropdownBasic1" ngbDropdownToggle>
                    {{ resultado.ano }}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="BaixarPDF(resultado.ingles)"
                      ngbDropdownItem>Curso</button>
                    <button (click)="BaixarPDF(resultado.intercambio)"
                      ngbDropdownItem>Intercâmbio</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- ocultado temporariamente -->

        <!-- <div class="d-flex justify-content-center mz-5 mt-4">
        <div class="d-flex p-3 justify-content-between rounded-2 shadow"
          [ngClass]="this.IsMobile() ? 'flex-row justify-content-between align-items-center' : 'flex-wrap p-4' ">
          <img src="https://educ.rec.br/educarecife/embarquedigital/assets/imagens/paper-plane-regular.svg" class="m-2" style="width: 1.5rem;">
          <div class=" fw-semibold" [ngClass]="this.IsMobile() ? '' : 'fs-5 mx-2' ">Receba SMS com todas as novidades
          </div>
          <button type="button" class="btn btn-outline-primary">Participe</button>
        </div>
      </div> -->
        <!-- Duvidas -->

      </div>

    </div>
    <div class="d-flex flex-column align-items-center p-3 w-100">
      <div [ngClass]="this.IsMobile() ? 'w-100' : 'w-50'">
        <app-faq id="faq"></app-faq>
      </div>

    </div>

  </div>

  <app-rodape></app-rodape>
