<div class="container-entenda-mais" id="entenda-mais">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div [ngClass]="this.IsMobile() ? 'w-100' : 'w-50'">
      <div class="p-2 fw-bold fs-1 mt-5">Entenda mais sobre o programa</div>
      <div class="p-2">
        <p>
          O Programa RECIFE NO MUNDO é a concretização da necessidade de
          proporcionar aos estudantes, que estejam regularmente matriculados nos
          anos finais do Ensino Fundamental e aos professores, com licenciatura
          em letras, das Escolas Públicas Municipais, a oportunidade de
          aperfeiçoar a habilidade comunicativa na língua inglesa. O objetivo é
          facilitar e promover a sua inserção num mundo globalizado, além de
          buscar garantir a oferta de um ensino de qualidade e adequado às
          expectativas e demandas sociais contemporâneas, através da valorização
          dos profissionais de educação.
        </p>
      </div>
      <div class="p-2 fw-bold fs-4">O que é?</div>
      <div class="p-2">
        <p>
          O RECIFE NO MUNDO é um programa educacional de aperfeiçoamento no
          ensino da língua inglesa que compreende diferentes etapas e que
          dependem de processos seletivos distintos. O programa é ofertado para
          estudantes e professores.
        </p>

        <div class="fw-bold mt-2">
          Para os estudantes
        </div>
        <p>
          A primeira etapa é o curso complementar intensivo de língua inglesa,
          ofertado no contra turno escolar nas escolas da rede. Após seleção, a
          segunda etapa é a experiência de intercâmbio internacional na
          modalidade “Summer Camp” por quatro semanas em um dos países
          parceiros.</p>

        <div class="fw-bold mt-2">
          Para os professores
        </div>
        <p>
          A primeira etapa consiste em formação na língua inglesa com uma aula
          semanal presencial, em um dos polos na zona sul ou zona norte da
          cidade, e aulas online síncronas através de recursos digitais. Após
          seleção, uma segunda etapa que compreende intercâmbio de 4 semanas no
          exterior.</p>
      </div>

      <div class="p-2 fw-bold fs-4">Qual é o público alvo?</div>
      <div class="p-2">
        <p>
          Estudantes dos anos finais cursando o 8º ou 9º ano em 2023, e professores com licenciatura em Letras que atuem em sala de aula ou ocupem cargos de gestão.
        </p>
      </div>

      <div class="p-2 fw-bold fs-4">Quantas vagas estão disponíveis?</div>
      <div class="p-2">
        <p>
          O curso oferece 1.000 vagas para estudantes e 50 para professores, enquanto no intercâmbio são disponibilizadas 100 vagas para estudantes e 10 para professores.
        </p>
      </div>

      <div class="p-2 fw-bold fs-4">Como saber se fui selecionado?</div>
      <div class="p-2">
        <p>
          A relação dos classificados será publicada no site <a target="_blank" href="http://educ.rec.br/recifenomundo/">educ.rec.br/recifenomundo/</a>, na data prevista no edital. Sendo de responsabilidade do candidato verificar o resultado da seleção, e, caso esteja na relação dos classificados
        </p>
      </div>

    </div>
  </div>
