<div class="container-edital" id="edital">
  <div class="d-flex  justify-content-center align-items-center"
    [ngClass]="this.IsMobile() ? 'flex-wrap-reverse' : 'flex-wrap'">
    <!-- <img class="" src="https://educ.rec.br/educarecife/embarquedigital/assets/imagens/estudante_2.png" style="height: 350px;" alt="Imagem de estudante">
    <div>
      <a href="https://drive.google.com/file/d/1DlgbM4Us_NCFon-Dubr2x-_l3t8YP8WT/view?usp=sharing" target="_blank"><button type="button" class="btn-edital fw-bold m-2" style="font-size: 18px;">Detalhes do edital</button></a>
    </div> -->
  </div>
</div>
