.bg-reprovado {
  background-color: #FFE7E7;
}

.text-success {
  color: #11B163 !important;
}

.border-success {
  border-color: #11B163 !important;
}

.bg-sucess{
  background-color: #D6EFE3 !important;
}


.text-info {
  color: #1C4496 !important;
}

.border-info {
  border-color: #1C4496 !important;
}
