<div class=" bg-white rounded-4 p-4 ms-2 me-2"
  [ngClass]="this.IsMobile() ? '' : 'card-container' ">
  <div class="container-fluid">
    <div
      class="d-flex flex-row align-items-center justify-content-between mb-3">
      <div class="fs-3 fw-bolder">Informações do aluno</div>
    </div>
    <form [formGroup]="this.form">

      <!-- Matricula -->
      <div class="mb-3">
        <label for="nomeCompleto" class="form-label fw-semibold">Matricula <span
            class="fw-lighter fw-7">(Obrigatório)</span> </label>
        <input type="text" class="form-control input-background" disabled
          [value]="this.ObterMatricula()" required>
      </div>

      <!-- Nome Completo -->
      <div class="mb-3">
        <label for="nomeCompleto" class="form-label fw-semibold"
          [ngClass]="this.nomeValid ? 'text-danger' : '' ">Nome
          completo <span class="fw-lighter fw-7">(Obrigatório)</span> </label>
        <input type="text" class="form-control input-background" id="nomeInput"
          (keypress)="this.RemoverNumero($event)"
          name="NOME" disabled [value]="this.ObterNome()" required>
      </div>

      <!-- CPF -->
      <div class="mb-3">
        <label for="cpf" class="form-label fw-semibold"
          [ngClass]="this.cpfValid ? 'text-danger' : '' ">CPF
          <span class="fw-lighter fw-7"></span>
        </label>
        <input *ngIf="!this.habilitarCpf" type="text"
          class="form-control input-background" name="CPF" disabled
          [value]="this.ObterCpf()" required>
        <input *ngIf="this.habilitarCpf" type="text"
          class="form-control input-background" name="CPF"
          formControlName="CPF" mask="000.000.000-00">
      </div>

      <!-- Endereço -->
      <div class="mb-3">
        <label class="form-label fw-semibold"
          [ngClass]="this.enderecoValid ? 'text-danger' : '' ">Endereço <span
            class="fw-lighter fw-7">(Obrigatório)</span> </label>
        <input *ngIf="!this.habilitarEndereco" type="text"
          class="form-control input-background" id="enderecoInput"
          name="ENDERECO" disabled [value]="this.ObterEndereco()" required>
        <input *ngIf="this.habilitarEndereco" type="text"
          class="form-control input-background" id="enderecoInput"
          name="ENDERECO" formControlName="ENDERECO" appOnlyLetterAndNumber required>
      </div>

      <!-- Escola -->
      <div class="mb-3">
        <label class="form-label fw-semibold"
          [ngClass]="this.escolaValid ? 'text-danger' : '' ">Escola <span
            class="fw-lighter fw-7">(Obrigatório)</span>
        </label>
        <input type="text" class="form-control input-background"
          id="escolaInput" name="ESCOLA"
          formControlName="ESCOLA"
          appOnlyLetterAndNumber required>
        <!-- <ng-select [items]="listaDeEscolas" bindLabel="nome" bindValue="codigo" formControlName="CODIGO_ESCOLA" (change)="this.SalvarEscola()">
        </ng-select> -->
      </div>

      <!-- Ano -->
      <div class="row mb-3">
        <div class="col">
          <label for="cpf" class="form-label fw-semibold mb-0"
            [ngClass]="this.anoValid ? 'text-danger' : '' ">Ano
            <span class="fw-lighter fw-7">(Obrigatório)</span>
          </label>
          <div class="fw-lighter fw-7 mb-2">Candidatura permitida apenas para o
            8° ano</div>
          <input type="text" class="form-control input-background" id="anoInput"
            name="ANO"
            [value]="this.ObterAno()" disabled required>
        </div>
        <div class="col">
        </div>
      </div>

      <!-- Turma -->
      <div class="row mb-3">
        <div class="col">
          <label for="cpf" class="form-label fw-semibold "
            [ngClass]="this.turmaValid ? 'text-danger' : '' ">Turma
            <span class="fw-lighter fw-7">(Obrigatório)</span>
          </label>
          <!-- <input type="text" class="form-control input-background" name="TURMA" formControlName="TURMA" required> -->
          <input type="text" class="form-control input-background"
            id="turmaInput" name="TURMA"
            formControlName="TURMA" appOnlyLetter maxlength="20" required>
        </div>
        <div class="col">
          <label for="turno" class="form-label fw-semibold"
            [ngClass]="this.turnoValid ? 'text-danger' : '' ">Turno
            <span class="fw-lighter fw-7">(Obrigatório)</span>
          </label>
          <input type="text" class="form-control input-background"
            id="turnoInput" name="TURNO"
            formControlName="TURNO" appOnlyLetter maxlength="20" required>
        </div>
      </div>

      <div
        class="d-flex flex-row align-items-center justify-content-between mt-5 mb-3">
        <div class="fs-3 fw-bolder">Informações do responsável</div>
      </div>

      <!-- Nome Completo -->
      <div class="mb-3">
        <label for="nomeCompleto" class="form-label fw-semibold"
          [ngClass]="this.nomeResposavelValid ? 'text-danger' : '' ">Nome
          completo <span
            class="fw-lighter fw-7">(Obrigatório)</span> </label>
        <input type="text" class="form-control input-background" s
          id="nomeResposavelInput"
          (keypress)="this.RemoverNumero($event)" name="RESPONSAVEL"
          formControlName="RESPONSAVEL" required>
      </div>

      <!-- CPF -->
      <div class="mb-3">
        <label for="cpf" class="form-label fw-semibold"
          [ngClass]="this.cpfResposavelValid ? 'text-danger' : '' ">CPF
          <span class="fw-lighter fw-7">(Obrigatório)</span>
        </label>
        <input type="text" class="form-control input-background"
          name="RESPONSAVEL_CPF"
          formControlName="RESPONSAVEL_CPF" mask="000.000.000-00" required>
      </div>

      <!-- Email e Telefone -->
      <div class="row mb-3">
        <div class="col">
          <label for="nomeCompleto" class="form-label fw-semibold"
            [ngClass]="this.emailResposavelValid ? 'text-danger' : '' ">E-mail
            <span
              class="fw-lighter fw-7">(Obrigatório)</span> </label>
          <input type="text" class="form-control input-background"
            name="RESPONSAVEL_EMAIL"
            formControlName="RESPONSAVEL_EMAIL" required>
        </div>
        <div class="col">
          <label for="celular" class="form-label fw-semibold"
            [ngClass]="this.celularResposavelValid ? 'text-danger' : '' ">Celular
            <span
              class="fw-lighter fw-7">(Obrigatório)</span>
          </label>
          <input type="tel" class="form-control input-background"
            name="RESPONSAVEL_CELULAR"
            formControlName="RESPONSAVEL_CELULAR" required
            mask="(00) 00000-0000">
        </div>
      </div>

    </form>
  </div>
</div>

<div class=" " [ngClass]="this.IsMobile() ? '' : 'card-container' ">
  <div class="container-fluid">
    <div class="mt-4">
      <form [formGroup]="this.formCheckInformacao">
        <div class="form-check ">
          <input class="form-check-input input-check-background" type="checkbox"
            name="declaroInformacoes"
            formControlName="declaroInformacoes">
          <label class="form-check-label ms-2" for="flexCheckChecked"
            [ngClass]="this.declaroInformacoesValid ? 'text-danger' : '' ">
            Declaro, sob as penas da lei, que todas as informações apresentadas
            são verdadeiras e assumo total
            responsabilidade sobre as mesmas.<a
              class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
              href="https://educ.rec.br/recifenomundo/assets/pdfs/ESTUDANTE%20(anexo%20IV)%20TERMO%20DE%20AUTORIZA%C3%87%C3%83O%20DE%20PARTICIPA%C3%87%C3%83O.pdf"
              target="_blank">
              Ver Termo
            </a>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>

<div class=" " [ngClass]="this.IsMobile() ? '' : 'card-container' ">
  <div class="container-fluid">
    <div class="mt-4">
      <form [formGroup]="this.formCheckImagem">
        <div class="form-check ">
          <input class="form-check-input input-check-background" type="checkbox"
            name="declaroImagem"
            formControlName="declaroImagem">
          <label class="form-check-label ms-2" for="flexCheckChecked"
            [ngClass]="this.declaroImagemValida ? 'text-danger' : '' ">
            Declaro, que li e autorizo o uso da minha imagem.<a
              class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
              href="https://educ.rec.br/recifenomundo/assets/pdfs/ESTUDANTE%20(anexo%20III)%20TERMO%20DE%20AUTORIZA%C3%87%C3%83O%20PARA%20O%20TRATAMENTO%20DE%20DADOS%20E%20USO%20DE%20IMAGEM.pdf"
              target="_blank">
              Ver Termo
            </a>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="d-flex align-items-center my-5 pe-2"
  [class]="this.IsMobile() ? 'flex-column justify-content-center' : 'flex-row-reverse justify-content-between' ">

  <div class="d-grid gap-2 ">
    <button type="button" class="btn btn-outline-light"
      [disabled]="this.carregando"
      (click)="this.FinalizarCandidatura()">{{ this.carregando ? '' :
      "Finalizar processo de candidatura" }}<i
        [ngClass]="this.ExibirLoading()"></i></button>
  </div>
  <div [class]="this.IsMobile() ? 'mt-3 justify-content-center' : 'ms-5' ">
    <button type="button" class="btn btn-outline-danger fw-bold fw-4"
      style="text-decoration:none;"
      (click)="this.Cancelar()">Cancelar</button>
  </div>
</div>
