<div class="bg-rodape p-2">
  <div class="d-flex flex-wrap" [ngClass]="this.IsMobile() ? 'justify-content-center':'justify-content-lg-around' ">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <!-- <div class="fw-bold text-white">
        Gerência Geral de Tecnologia - SEPTI / SEDUC Recife
      </div>
      <div class="text-white">
        CETEC - Av Oliveira Lima, 824 Soledade cep 50050-390
      </div> -->
      <div class="text-white fs-5 fw-bold">
        Atendimento: 0800 200 6565
      </div>
      <!-- <div class="text-white">
        coordenacaodesistemas@educ.rec.br
      </div> -->
    </div>
    <div class="d-flex flex-row align-items-center ">
      <!-- <img class="img-fluid m-2" src="https://educ.rec.br/recifenomundo/assets/imagens/ggtec-branco.png"
        style="width: 10rem;"> -->
      <img class="img-fluid m-2" src="https://educ.rec.br/recifenomundo/assets/imagens/Marca-PCR-branca-alternativa.png"
        style="width: 10rem;">
      <!-- <div class="d-flex flex-column justify-content-center align-items-center" >
        <div class="text-white">
          Secretaria de
        </div>
        <div class="fw-bold text-white">
          Educação
        </div>
      </div>
      <img class="img-fluid m-2" src="../../../assets/imagens/Marca-PCR-branca-alternativa.png"
        style="width: 71px; height: 61px;"> -->
    </div>
  </div>
</div>
