<nav class="navbar navbar-expand-lg navbar-bg-primary pt-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- <img class="ps-3" src="../../../assets/imagens/Marca-PCR-branca-alternativa.png"
      [style]="this.IsMobile() ? 'width: 10rem;' : 'width: 12rem; margin-left: 5rem; '"
      alt="Logo prefeitura do recife"> -->
    </a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white mx-4" href="#inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mx-4" href="#fase">Fase</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mx-4" href="#entenda-mais">Entenda mais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mx-4" href="#edital">Edital</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mx-4" href="#faq">F.A.Q</a>
        </li>
        <!-- <ng-container>
        <button type="button" class="btn btn-light fw-semibold text-primary" style="font-size: 14px;"
          (click)="this.IrParaInscricaoProfessor()">Inscreva-se como professor</button>
      </ng-container>
      <div [ngClass]="this.IsMobile() ? '' : 'ms-2'"></div>
      <ng-container>
        <button type="button" class="btn btn-light fw-semibold text-primary" style="font-size: 14px;"
          (click)="this.IrParaInscricaoEstudante()">Inscreva-se como estudante</button>
      </ng-container> -->
      </ul>
      <span class="navbar-text me-5">
        <a type="button" class="btn btn-light fw-semibold text-primary px-4" style="font-size: 14px;"
          href="#fase">Inscrições Encerradas</a>
      </span>
    </div>
  </div>
</nav>
